In [3]:
import pandas as pd

In [5]:
df_intens = pd.read_csv("training_data_intens_spb_20240904.csv",  on_bad_lines='skip', sep=";")

In [11]:
df_items = pd.read_csv("training_data_items_intens_spb_20240904.csv",  on_bad_lines='skip', sep=";")

In [4]:
df_participants = pd.read_csv("training_participants_intens_spb_20240904.csv",  on_bad_lines='skip', sep=";")

In [6]:
df_intens

,fz,pn_lot,region_code,etp,min_publish_date,purchase_name,forsmallbiz,lot_price,customer
0,44fz,0101500000323000120_,2,other,2023-03-23,Благоустройство территорий в рамках реализации...,False,1.413309e+08,Заказчик_62607
1,44fz,0101500000323000121_,2,other,2023-03-16,Благоустройство территорий в рамках реализации...,False,1.638253e+08,Заказчик_75306
2,44fz,0101500000323000122_,2,other,2023-03-16,Выполнение работ по объекту: «Благоустройство ...,False,2.493504e+08,Заказчик_53676
3,44fz,0101500000323000123_,2,other,2023-03-17,Ремонт автомобильной дороги Мещегарово - Турна...,False,6.558707e+07,Заказчик_74918
4,44fz,0101500000323000124_,2,other,2023-03-17,Выполнение работ по объекту: «Благоустройство ...,False,5.064959e+07,Заказчик_53676
...,...,...,...,...,...,...,...,...,...
2043948,44fz,0101300009223000049_,2,roseltorg.ru,2023-11-22,Оказание медицинских услуг (предрейсовый и пос...,True,3.189264e+05,Заказчик_40166
2043949,44fz,0101300009223000050_,2,roseltorg.ru,2023-11-23,Поставка горюче-смазочных материалов для нужд ...,False,5.603220e+05,Заказчик_40166
2043950,44fz,0101300009223000051_,2,roseltorg.ru,2023-11-23,Выполнение работ по осуществлению технического...,True,1.146935e+06,Заказчик_40166
2043951,44fz,0101300009223000052_,2,roseltorg.ru,2023-11-23,Оказание услуг по охране (физическая невооруже...,True,6.117865e+05,Заказчик_40166
2043952,44fz,0101300009223000053_,2,roseltorg.ru,2023-11-28,Оказание услуг по опубликованию официальных пе...,False,3.299856e+05,Заказчик_40166

In [7]:
df_intens = df_intens.dropna()

In [8]:
df_intens.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2002991 entries, 0 to 2043952
Data columns (total 9 columns):
 #   Column            Dtype
---  ------            -----
 0   fz                object
 1   pn_lot            object
 2   region_code       int64
 3   etp               object
 4   min_publish_date  object
 5   purchase_name     object
 6   forsmallbiz       bool
 7   lot_price         float64
 8   customer          object
dtypes: bool(1), float64(1), int64(1), object(6)
memory usage: 139.4+ MB

In [9]:
df_intens["region_code"].value_counts()

region_code
77    170254
78    126883
23     81467
50     76504
54     66050
       ...
85       740
99       661
82       589
80       573
81       368
Name: count, Length: 92, dtype: int64

In [10]:
df_intens.describe()

        region_code     lot_price
count  2.002991e+06  2.002991e+06
mean   4.927745e+01  4.415112e+06
std    2.413776e+01  9.102492e+07
min    1.000000e+00  1.000000e-02
25%    2.700000e+01  1.033064e+05
50%    5.200000e+01  3.876230e+05
75%    7.200000e+01  1.359902e+06
max    9.900000e+01  6.188891e+10

In [11]:
(df_intens.isna().sum() * 100 / df_intens.shape[0]).sort_values()[-1:0:-1].head(14)

customer            0.0
lot_price           0.0
forsmallbiz         0.0
purchase_name       0.0
min_publish_date    0.0
etp                 0.0
region_code         0.0
pn_lot              0.0
dtype: float64

------------------------------------------------------

In [12]:
df_items

,pn_lot,item_name,okpd2_code
0,0303100015223000031_,"Стакан в сборе ПН-40АЦ-2,5-40(433362)",29.32.30.390
1,0303100015223000031_,"Колодки тормозные АЦ-2,5-40(131)",29.32.30.132
2,0303100015223000031_,"Головка блока цилиндра АЦ-2,5-40(433362)",29.32.30.390
3,0303100015223000031_,"Маховик с ободом ЯМЗАЦ-6,0-40(5557)",29.32.30.390
4,0303100015223000031_,"Задвижка боковая ПН-40АЦ-3,0-40(4334)",29.32.30.390
...,...,...,...
8095393,0302300030023000107_,Монитор пренатальный для плода/матери,26.60.12.129
8095394,0302300030023000114_,"Крахмалы, кроме модифицированных",10.62.11.110
8095395,0302300030023000114_,Ягоды сушеные,01.25.19.190
8095396,0302300030023000114_,Макаронные изделия в ассортименте,10.73.11.190
8095397,0302300030023000114_,Яблоки,01.24.10.000

In [13]:
df_items = df_items.dropna()

In [14]:
df_items.describe()

,pn_lot,item_name,okpd2_code
count,8092836,8092836,8092836
unique,2036617,3042939,9327
top,0809100000223000040_,"Стент для коронарных артерий, выделяющий лекар...",21.20.23.110
freq,21322,59823,447271

In [15]:
(df_items.isna().sum() * 100 / df_items.shape[0]).sort_values()[-1:0:-1].head(14)

okpd2_code    0.0
item_name     0.0
dtype: float64

---------------------------------------------

In [16]:
df_participants

                       pn_lot          supplier  is_winner
0        0176200005523001265_  Поставщик_119511          0
1        0376100006023000003_  Поставщик_107253          1
2        0376100007623000014_  Поставщик_107253          1
3        0318200034923000081_  Поставщик_107253          1
4        0176300006323000035_  Поставщик_107253          1
...                       ...               ...        ...
2886910  0360300004623000002_  Поставщик_129607          1
2886911  0171200001923002821_  Поставщик_129607          1
2886912  0830500000223000647_  Поставщик_129607          1
2886913  0257100000123000125_  Поставщик_129607          1
2886914  0257100000123000098_  Поставщик_129607          1

[2886915 rows x 3 columns]

In [17]:
df_participants.describe()

          is_winner
count  2.886915e+06
mean   7.153602e-01
std    4.512428e-01
min    0.000000e+00
25%    0.000000e+00
50%    1.000000e+00
75%    1.000000e+00
max    1.000000e+00

In [18]:
(df_participants.isna().sum() * 100 / df_participants.shape[0]).sort_values()[-1:0:-1].head(14)

is_winner    0.0
supplier     0.0
dtype: float64

In [6]:
main_df = pd.merge(df_participants, df_intens, on="pn_lot", how="inner")

In [7]:
main_df

,pn_lot,supplier,is_winner,fz,region_code,etp,min_publish_date,purchase_name,forsmallbiz,lot_price,customer
0,0176200005523001265_,Поставщик_119511,0,44fz,1,roseltorg.ru,2023-06-21,Выполнение работ по капитальному ремонту объек...,True,2.183299e+06,Заказчик_6515
1,0176200005523001265_,Поставщик_181737,1,44fz,1,roseltorg.ru,2023-06-21,Выполнение работ по капитальному ремонту объек...,True,2.183299e+06,Заказчик_6515
2,0176200005523001265_,Поставщик_3470,0,44fz,1,roseltorg.ru,2023-06-21,Выполнение работ по капитальному ремонту объек...,True,2.183299e+06,Заказчик_6515
3,0176200005523001265_,Поставщик_16918,0,44fz,1,roseltorg.ru,2023-06-21,Выполнение работ по капитальному ремонту объек...,True,2.183299e+06,Заказчик_6515
4,0176200005523001265_,Поставщик_105251,0,44fz,1,roseltorg.ru,2023-06-21,Выполнение работ по капитальному ремонту объек...,True,2.183299e+06,Заказчик_6515
...,...,...,...,...,...,...,...,...,...,...,...
2886910,0148200005423000273_,Поставщик_79103,1,44fz,50,other,2023-05-05,"Поставка соли технической, лот 4",False,4.208938e+08,Заказчик_63738
2886911,0148200005423000272_,Поставщик_79103,1,44fz,50,other,2023-05-05,"Поставка соли технической, лот 6",False,4.208938e+08,Заказчик_63738
2886912,0830500000223000647_,Поставщик_129607,1,44fz,35,other,2023-03-15,Выполнение работ по капитальному ремонту (заме...,False,4.891010e+06,Заказчик_73643
2886913,0257100000123000125_,Поставщик_129607,1,44fz,60,other,2023-08-03,Выполнение работ по капитальному ремонту здани...,False,3.088282e+06,Заказчик_53138
2886914,0257100000123000098_,Поставщик_129607,1,44fz,60,other,2023-05-26,Выполнение работ по капитальному ремонту здани...,False,2.889455e+06,Заказчик_53138

In [8]:
main_df = main_df[["pn_lot", "supplier", "is_winner", "region_code"]]

In [9]:
main_df

                       pn_lot          supplier  is_winner  region_code
0        0176200005523001265_  Поставщик_119511          0            1
1        0176200005523001265_  Поставщик_181737          1            1
2        0176200005523001265_    Поставщик_3470          0            1
3        0176200005523001265_   Поставщик_16918          0            1
4        0176200005523001265_  Поставщик_105251          0            1
...                       ...               ...        ...          ...
2886910  0148200005423000273_   Поставщик_79103          1           50
2886911  0148200005423000272_   Поставщик_79103          1           50
2886912  0830500000223000647_  Поставщик_129607          1           35
2886913  0257100000123000125_  Поставщик_129607          1           60
2886914  0257100000123000098_  Поставщик_129607          1           60

[2886915 rows x 4 columns]

In [12]:
main_df = pd.merge(main_df, df_items, on="pn_lot", how="inner")

In [13]:
main_df

,pn_lot,supplier,is_winner,region_code,item_name,okpd2_code
0,0176200005523001265_,Поставщик_119511,0,1,Работы электромонтажные,43.21.10.000
1,0176200005523001265_,Поставщик_181737,1,1,Работы электромонтажные,43.21.10.000
2,0176200005523001265_,Поставщик_3470,0,1,Работы электромонтажные,43.21.10.000
3,0176200005523001265_,Поставщик_16918,0,1,Работы электромонтажные,43.21.10.000
4,0176200005523001265_,Поставщик_105251,0,1,Работы электромонтажные,43.21.10.000
...,...,...,...,...,...,...
10903206,0148200005423000273_,Поставщик_79103,1,50,Соль молотая техническая,08.93.10.113
10903207,0148200005423000272_,Поставщик_79103,1,50,Соль молотая техническая,08.93.10.113
10903208,0830500000223000647_,Поставщик_129607,1,35,Выполнение работ по капитальному ремонту объек...,41.20.40.000
10903209,0257100000123000125_,Поставщик_129607,1,60,Выполнение работ по капитальному ремонту здани...,43.29.19.110
10903210,0257100000123000098_,Поставщик_129607,1,60,Выполнение работ по капитальному ремонту здани...,43.29.19.110

In [25]:
main_df = main_df.drop(columns="item_name")

In [14]:
main_df = main_df[["pn_lot", "region_code", "okpd2_code"]]
main_df

                        pn_lot  region_code    okpd2_code
0         0176200005523001265_            1  43.21.10.000
1         0176200005523001265_            1  43.21.10.000
2         0176200005523001265_            1  43.21.10.000
3         0176200005523001265_            1  43.21.10.000
4         0176200005523001265_            1  43.21.10.000
...                        ...          ...           ...
10903206  0148200005423000273_           50  08.93.10.113
10903207  0148200005423000272_           50  08.93.10.113
10903208  0830500000223000647_           35  41.20.40.000
10903209  0257100000123000125_           60  43.29.19.110
10903210  0257100000123000098_           60  43.29.19.110

[10903211 rows x 3 columns]

In [15]:
main_df.to_csv("pn_lot")

In [27]:
result_df = main_df.groupby(['supplier', 'region_code', 'okpd2_code']).agg(
    win_count=('is_winner', lambda x: (x == 1).sum()),  # Count wins
    product_count=('okpd2_code', 'size')  # Count total products
).reset_index()

In [28]:
result_df

                supplier  region_code    okpd2_code  win_count  product_count
0            Поставщик_1           23  23.31.10.000          1              1
1            Поставщик_1           23  23.31.10.120          1              1
2            Поставщик_1           23  23.51.10.000          1              1
3            Поставщик_1           23  23.61.12.210          1              1
4            Поставщик_1           23  23.62.10.000          1              1
...                  ...          ...           ...        ...            ...
1642624  Поставщик_99999           74  71.12.39.114          1              1
1642625  Поставщик_99999           75  71.12.39.114          1              1
1642626  Поставщик_99999           77  71.12.39.119          0              2
1642627  Поставщик_99999           77  74.90.13.000          0              1
1642628  Поставщик_99999           86  72.19.15.000          1              1

[1642629 rows x 5 columns]

In [35]:
result_df.to_csv("data_result")

In [30]:
item_description_df = df_items[["item_name", "okpd2_code"]]

In [31]:
item_description_df

                                        item_name    okpd2_code
0           Стакан в сборе ПН-40АЦ-2,5-40(433362)  29.32.30.390
1                Колодки тормозные АЦ-2,5-40(131)  29.32.30.132
2        Головка блока цилиндра АЦ-2,5-40(433362)  29.32.30.390
3             Маховик с ободом ЯМЗАЦ-6,0-40(5557)  29.32.30.390
4           Задвижка боковая ПН-40АЦ-3,0-40(4334)  29.32.30.390
...                                           ...           ...
8095393     Монитор пренатальный для плода/матери  26.60.12.129
8095394          Крахмалы, кроме модифицированных  10.62.11.110
8095395                             Ягоды сушеные  01.25.19.190
8095396         Макаронные изделия в ассортименте  10.73.11.190
8095397                                    Яблоки  01.24.10.000

[8092836 rows x 2 columns]

In [32]:
item_description_df = item_description_df.drop_duplicates()

In [33]:
item_description_df

                                                 item_name    okpd2_code
0                    Стакан в сборе ПН-40АЦ-2,5-40(433362)  29.32.30.390
1                         Колодки тормозные АЦ-2,5-40(131)  29.32.30.132
2                 Головка блока цилиндра АЦ-2,5-40(433362)  29.32.30.390
3                      Маховик с ободом ЯМЗАЦ-6,0-40(5557)  29.32.30.390
4                    Задвижка боковая ПН-40АЦ-3,0-40(4334)  29.32.30.390
...                                                    ...           ...
8095341  Модель для катетеризации мужского мочевого пузыря  32.99.53.190
8095342            Набор муляжей ран для судебной медицины  32.99.53.190
8095343  Интерактивный тренажерный комплекс для эндоскопии  32.99.53.190
8095344  Интерактивный лапароскопический тренажер для о...  32.99.53.190
8095345  Тренажер для отработки навыков внутримышечных ...  32.99.53.190

[3326944 rows x 2 columns]

In [34]:
item_description_df.to_csv("data_items")